@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* sideIndex is outside of article */
  section.side-index {
    background: #f2f2f4;
    border: 1px solid #e5e6e9;
    border-radius: 2px;
    width: 100%;
    max-width: 360px;
    padding-top: 16px;

    & .header {
      padding: 0 20px;
      display: flex;
      justify-content: space-between;

      &>p.title {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.3;
        color: #212944;
        display: flex;
        align-items: center;
      }

      &>button {
        display: flex;
        align-items: center;

        &>span {
          font-weight: 400;
          font-size: 12px;
          line-height: 1.5;
          color: #7f8493;
        }
      }
    }

    & .body {
      display: grid;
      grid-template-rows: 1fr;
      padding-bottom: 16px;
      transition: grid-template-rows 0.2s ease-out;

      &.hide {
        grid-template-rows: 0fr;
      }

      &>ul.list {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #7f8493;
        gap: 8px;

        &>a {
          &:first-of-type {
            margin-top: 8px;
          }

          & li.item {
            position: relative;
            padding: 0 20px;

            @media (hover: hover) {
              &:hover {
                color: #212944;

                &::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 8px;
                  height: 100%;
                  background: #212944;
                }
              }
            }

            &.active {
              color: #212944;

              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 8px;
                height: 100%;
                background: #212944;
              }
            }
          }
        }
      }
    }
  }


  article.brief {
    background-color: #D2F4FF;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px 44px;


    &> :first-child {
      margin-top: 0;
    }

    /* @media (min-width: 720px) {
      padding: 20px 24px;
    } */

    @apply md:py-6;
  }

  article.content {
    padding: 0 20px;

    /* @media (min-width: 720px) {
      padding: 0;
    } */

    &>* {
      font-weight: 400;
      font-size: 18px;
      line-height: 2;
    }

    @apply md:p-0;
  }

  article.story-renderer:empty {
    display: none;
  }

  article.story-renderer {

    &>* {
      margin-top: 32px;
      color: #212944;
    }

    /* setup inline style */
    &>* {
      strong {
        font-weight: 500;
      }

      a {
        color: #007aff;
      }

      code {
        padding: 4px 8px;
        background: #f2f2f4;
        font-family: unset;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }

      span[style^='background'] {
        background-color: unset;
        display: inline-block;
        position: relative;
        background: linear-gradient(to top,
            transparent 33%,
            #ebf02c 33% 66%,
            transparent 66%) !important;
      }
    }

    &>h2 {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.4;
    }

    &>h3 {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5;
    }

    &>ul {
      list-style: none;

      &>li {
        padding-left: 28px;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          top: 15px;
          left: 0;
          border-radius: 50%;
          width: 6px;
          height: 6px;
          background: #7f8493;
        }
      }
    }

    &>ol {
      list-style: none;
      counter-reset: custom-counter;

      &>li {
        counter-increment: custom-counter;
        padding-left: 28px;
        position: relative;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: counter(custom-counter) '.';
          color: #7f8493;
          font-weight: 400;
          font-size: 18px;
          line-height: 36px;
        }
      }
    }

    &>hr {
      border-color: #e5e6e9;
    }

    & span[data-entity-type='annotation'],
    & div.annotation-block>span {
      display: inline-flex;
      align-items: center;
      color: #007aff;

      &::after {
        content: '';
        background-image: url('/icons/api-data-renderer/icon-annotation-arrow.png');
        background-size: contain;
        width: 24px;
        height: 24px;
        display: inline-block;
        cursor: pointer;
        margin: 0 4px;
        transition: transform 0.3s;
      }
    }

    & div.annotation-block {
      display: inline;

      &>span.expand::after {
        transform: rotate(-180deg);
      }

      & .body {
        display: none;
        margin: 8px 0;
        padding: 24px 32px;
        background-color: #f2f2f4;

        &.expand {
          display: block;
        }
      }
    }

    &>div.blockquote-block {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: #575d71;

      .body {
        padding: 0 20px;
      }
    }

    &>pre.code-block {
      padding: 12px 20px;
      background: #212944;
      color: #e5e6e9;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      text-wrap: wrap;
    }

    &>section.color-box {
      padding: 24px 32px;
      background: #f2f2f4;
    }

    &>section.infobox-block {
      background: #f2f2f4;
      padding: 24px 0;

      &>.title {
        padding: 0 32px;
        position: relative;
        font-weight: 500;
        font-size: 18px;
        font-weight: 27px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 8px;
          height: 100%;
          background: #212944;
        }
      }

      &>.body {
        margin-top: 8px;
        padding: 0 32px;
      }
    }

    &>table {
      width: 100%;
      table-layout: fixed;

      border-collapse: collapse;
      text-align: center;

      & th {
        background-color: #f6f6fb;
      }

      & th,
      & td {
        border: 1px solid #e5e6e9;
        padding: 4px 8px;

        & .cell {
          min-width: 100px;
          min-height: 40px;
        }
      }
    }

    & div.audio-block {
      margin: 32px auto 0;
      border: 1px solid rgba(0, 9, 40, 0.1);
      padding: 16px 24px 16px 16px;
      max-width: 335px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      gap: 16px;

      & audio {
        display: none;
      }

      & .play-pause {
        width: 64px;
        height: 64px;
        flex-shrink: 0;
      }

      & .panel {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 8px;
        flex-grow: 1;

        & .title {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.3;
          color: rgba(33, 41, 68, 1);
        }

        & .progress-container {
          width: 100%;
          height: 6px;
          border-radius: 4px;
          background: rgba(229, 230, 233, 1);
          overflow: hidden;
          cursor: pointer;

          & .progress-bar {
            width: 100%;
            height: 100%;
            background: rgba(33, 41, 68, 1);
            transition: transform 0.2s ease;
            transform-origin: left;
            transform: scaleX(0.2);
          }
        }

        & .time {
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 12px;
          font-weight: 400;
          line-height: 1.5;
          color: rgba(0, 9, 40, 0.5);

          & .divider-y {
            height: 12px;
            border-right: 1px solid rgba(0, 9, 40, 0.1);
          }
        }
      }

      @apply md:max-w-none md:w-[480px];
    }

    & figure.image-block {
      width: 100%;

      & .image-wrapper {
        margin: auto;
        position: relative;
        aspect-ratio: 1;

        @apply md:w-[576px] md:h-[346.67px];
        @apply lg:w-[520px];
      }

      & figcaption {
        margin-top: 8px;
        color: rgba(127, 132, 147, 1);
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        padding: 0 20px;

        @apply md:p-0;
      }
    }

    & div.video-block {
      width: 100%;
      aspect-ratio: 100/56;
      display: flex;
      justify-content: center;
      position: relative;

      & video {
        height: 100%;
      }

      & .cover {
        position: absolute;
        inset: 0;
        background-color: rgba(33, 41, 68, 1);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    & div.slideshow-block {
      display: grid;
      grid-template-columns: 1fr;
      gap: 12px;
      position: relative;

      @apply md:w-[600px] md:grid-cols-2;

      @apply lg:w-[520px] mx-auto;

      &.fold {
        @apply md:max-h-[906px] md:overflow-hidden;
      }

      &>figure {
        max-height: 335px;

        & .image {
          aspect-ratio: 1;
        }

        @media (hover: hover) {
          cursor: pointer;

          &:hover .image {
            filter: brightness(15%);
            transition: 0.3s;
          }
        }

        & figcaption {
          padding: 0 20px;
          margin-top: 8px;
          font-weight: 400;
          font-size: 13px;
          line-height: 1.5;
          color: #7f8493;

          @apply md:hidden;
        }
      }

      & .lightbox {
        display: none;

        @apply md:bg-[#000928] md:fixed md:inset-0 md:text-white md:px-[72px] md:pl-12 md:flex md:items-center md:justify-between z-10;

        & .sidebar {
          width: 64px;
          position: relative;

          & .arrow {
            width: 64px;
            height: 64px;
            cursor: pointer;
            border-radius: 50%;
            visibility: visible;

            @media (hover: hover) {
              &:hover {
                background-color: rgba(255, 255, 255, 0.2);
              }
            }

            &.hide {
              visibility: hidden;
            }
          }

          & .images {
            overflow-y: scroll;
            max-height: 520px;
            scrollbar-width: none;
            margin: 12px auto;

            &::-webkit-scrollbar {
              display: none;
              /* for Chrome, Safari, and Opera */
            }

            & .image {
              width: 100%;
              aspect-ratio: 1/1;
              cursor: pointer;
              filter: brightness(35%);

              &+* {
                margin-top: 12px;
              }

              &.focus {
                filter: none;
              }
            }
          }
        }

        & .image-block {
          width: 480px;

          & .image {
            max-width: 480px;
            max-height: 480px;
          }

          & .meta {
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            text-align: center;
            color: #ffffff;
            margin-top: 32px;

            & .desc {
              max-height: 46px;
              overflow: hidden;
              word-break: break-word;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              opacity: 0.87;
              margin-bottom: 12px;
            }

            & .pagination {
              opacity: 0.5;
              margin-top: 12px;
            }
          }
        }

        & .close {
          height: 60vh;
          width: 64px;
          position: relative;

          & .icon {
            cursor: pointer;
            position: absolute;
            top: -64px;
            border-radius: 50%;

            @media (hover: hover) {
              &:hover {
                background-color: rgba(255, 255, 255, 0.2);
              }
            }
          }
        }
      }

      & .mask {
        display: none;

        @apply md:cursor-pointer md:block md:absolute md:w-full md:h-[906px] md:bottom-0 md:left-0 md:bg-slideshow-mask
      }

      &+.slideshow-unfold-hint {
        display: none;

        @apply md:mt-4 md:flex md:flex-col md:items-center md:gap-3 md:cursor-pointer;

        & .text {
          @apply md:font-bold md:text-lg md:leading-[1] md:tracking-[0.03em] md:text-[#000928];
        }

        @media (hover: hover) {
          &:hover .icon {
            @apply md:transition-all md:duration-200 md:ease-in;
            @apply md:transform md:translate-y-[30%];
          }
        }
      }
    }

    & .background-image-block {
      clear: both;
      position: relative;
      width: 100vw;
      min-height: 100vh;
      /* FIXME: apply z-index following project setup */
      z-index: 1000;
      /* FIXME: replace the formula to fit the website */
      margin-left: calc(50% - 50vw);

      .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
      }

      .content {
        position: relative;

        & .row-empty {
          height: 100vh;
        }

        &.static {
          height: 100vh;
          overflow: hidden;

          & .row-content {
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 20px;
            text-shadow: 0px 0px 1px #000000;

            @apply md:bottom-10;
          }
        }

        &.parallax {
          .row-content {
            &.left {
              padding: 0 20px 97px;

              @apply md:px-10 md:pb-[335px];

              @apply lg:pl-20 lg:pr-[calc(100%-480px-80px)] lg:pb-[169px];
            }

            &.right {
              padding: 0 20px 97px;

              @apply md:px-10 md:pb-[335px];

              @apply lg:pr-20 lg:pl-[calc(100%-480px-80px)] lg:pb-[169px];
            }

            &.bottom {
              padding: 0 20px 20px;

              @apply md:px-10 md:pb-10;

              @apply lg:px-[calc(50%-240px)] lg:pb-10;
            }

            .body {
              background: rgba(169, 118, 118, 0.1);
              border-radius: 8px;
              padding: 20px;

              @apply lg:w-[480px];
            }
          }
        }
      }
    }

    & .background-video-block {
      clear: both;
      position: relative;
      width: 100vw;
      min-height: 100vh;
      /* FIXME: apply z-index following project setup */
      z-index: 1000;
      /* FIXME: replace the formula to fit the website */
      margin-left: calc(50% - 50vw);

      .background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .content {
        position: relative;

        & .row-empty {
          height: 100vh;
        }

        &.static {
          height: 100vh;
          overflow: hidden;

          & .row-content {
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 20px;
            text-shadow: 0px 0px 1px #000000;

            @apply md:bottom-10;
          }
        }

        &.parallax {
          .row-content {
            &.left {
              padding: 0 20px 97px;

              @apply md:px-10 md:pb-[335px];

              @apply lg:px-20 lg:pb-[169px];
            }

            &.right {
              padding: 0 20px 97px;

              @apply md:px-10 pb-[335px];

              @apply md:pr-20 md:pl-[calc(100%-480px-80px)];
            }

            &.bottom {
              padding: 0 20px 20px;

              @apply md:px-10 md:pb-10;

              @apply lg:px-[calc(50%-240px)];
            }

            .body {
              background: rgba(169, 118, 118, 0.1);
              border-radius: 8px;
              padding: 20px;

              @apply lg:w-[480px];
            }
          }
        }
      }
    }

    &>section.embed-code-block {
      position: relative;

      &>div.embed {
        position: relative;
        white-space: normal;

        &.top-layer {
          /* FIXME: apply z-index following project setup */
          z-index: 1000;
        }



        /* styles for image link */
        img.img-responsive {
          margin: 0 auto;
          max-width: 100%;
          height: auto;
          display: block;
        }
      }

      &>div.caption {
        padding: 0 20px;
        margin-top: 8px;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.5;
        color: #7f8493;

        @apply md:p-0;
      }
    }

    &>section.youtube-block {
      & .iframe-wrapper {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        overflow: hidden;

        & iframe {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }

      & .caption {
        padding: 0 20px;
        margin-top: 8px;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.5;
        color: #7f8493;

        @apply md:p-0;
      }
    }

    /* nested body of blockquote, infobox, colorbox */
    & .body {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #575d71;

      &>*+* {
        margin-top: 16px;
      }

      /* overwrite inline style */
      &>* {
        strong {
          font-weight: 700;
          color: #212944;
        }
      }

      &>h2 {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;

        &+* {
          margin-top: 0;
        }
      }

      &>h3 {
        font-weight: 500;
        font-size: 14px;
        line-height: 18.2px;

        &+* {
          margin-top: 0;
        }
      }

      &>h4 {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;

        &+* {
          margin-top: 0;
        }
      }

      &>ul {
        list-style: none;

        &>li {
          padding-left: 18px;
          position: relative;

          &::before {
            position: absolute;
            content: '';
            top: 9px;
            left: 0;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            background: #7f8493;
          }
        }
      }

      &>ol {
        list-style: none;
        counter-reset: custom-counter;

        &>li {
          counter-increment: custom-counter;
          padding-left: 18px;
          position: relative;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: counter(custom-counter) '.';
            color: #7f8493;
            font-weight: 400;
            font-size: 18px;
            line-height: 36px;
          }
        }
      }

      &>pre.code-block {
        padding: 12px 20px;
        background: #212944;
        color: #e5e6e9;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
}