@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  article.brief {
    background-color: #F3E2FD;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px 44px;
    margin-bottom: 32px;

    @apply md:px-6;
  }

  article.content {
    padding: 0 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;

    @apply md:p-0;
  }
}