@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  article.brief {
    background-color: #F3E2FD;
    font-size: 18px;
    line-height: 2;
    padding: 20px 44px;
    margin-bottom: 32px;

    @apply md:px-6;
  }

  article.content {
    padding: 0 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;

    /* The <a> style is the same as in story page */
    a {
      color: #007aff;
    }

    @apply md:p-0;
  }
}