@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shorts-header-height: 80px;
  --shorts-body-padding: 0px;
  --shorts-item-gap: 0px;
  --shorts-next-item-preview-height: 0px;

  /* @see https://github.com/tailwindlabs/tailwindcss/discussions/10779#discussioncomment-5288493 */
  @media screen(md) {
    --shorts-header-height: 96px;
    --shorts-body-padding: 16px;
    --shorts-item-gap: 60px;
    --shorts-next-item-preview-height: 20px;
  }

  @media screen(lg) {
    --shorts-header-height: 106px;
  }
}

@media (prefers-color-scheme: dark) {

}

@layer components {
  .section-in-homepage {
    @apply px-[23px] md:px-5 lg:px-9 w-full max-w-[375px] md:max-w-screen-md lg:max-w-none;
  }
  .homepage-editor-choice-bullet {
    @apply w-5 h-5 text-sm leading-[18px] text-center font-medium rounded-full cursor-pointer text-[#000928]  border-[1px] border-[#000928];
    @apply md:w-3 md:h-3 md:text-[8px] md:leading-[10px] md:text-white md:border-white md:border-[0.5px];
    @apply lg:h-5 lg:w-5 lg:text-sm lg:leading-[18px] lg:border-[1px];
  }
  .homepage-editor-choice-bullet-active {
    @apply homepage-editor-choice-bullet text-white bg-[#19B7E8] border-white md:bg-[#004EBC];
  }
  .homepage-editor-choice-pagination-horizontal {
    @apply z-over-editor-choice  mt-6 flex w-full justify-center space-x-[6px];
    @apply md:!w-auto md:absolute md:bottom-3 md:right-3 md:justify-end md:space-x-1;
    @apply lg:space-x-[6px];
  }

  .shorts-swiper-in-homepage .swiper-slide {
    @apply w-[270px] lg:w-[225px];
  }
  .shorts-swiper-button {
    @apply hidden absolute top-[calc(480px/2)] lg:top-[calc(566px/2)] -translate-y-1/2 lg:inline-block z-over-shorts;
  }

  .shorts-swiper-in-shorts-page {
    @apply w-full h-full;

    .swiper-wrapper {
      @apply h-auto;
    }

    .shorts-container {
      @apply relative mx-auto;
      @apply h-[calc(100vh-var(--shorts-header-height)-var(--shorts-body-padding)-var(--shorts-item-gap)-var(--shorts-next-item-preview-height))];
      @apply h-[calc(100dvh-var(--shorts-header-height)-var(--shorts-body-padding)-var(--shorts-item-gap)-var(--shorts-next-item-preview-height))];
      @apply max-h-full;
      @apply w-[calc((100vh-var(--shorts-header-height)-var(--shorts-body-padding)-var(--shorts-item-gap)-var(--shorts-next-item-preview-height))*9/16)];
      @apply w-[calc((100dvh-var(--shorts-header-height)-var(--shorts-body-padding)-var(--shorts-item-gap)-var(--shorts-next-item-preview-height))*9/16)];
      @apply md:ml-0 md:max-w-full;

      & > div {
        @apply overflow-hidden md:rounded-[7px];
      }

      button.control {
        @apply flex size-[25px] items-center justify-center rounded-xl bg-white shadow-[0px_5.365px_5.365px_0px_rgba(0,0,0,0.15)] hover-or-active:bg-[#E5E6E9];
      }

      input.volume-slider {
        @apply h-2 w-[120px] cursor-pointer appearance-none rounded-lg;
  
        /* webkit */
        &::-webkit-slider-runnable-track {
          @apply h-full rounded-lg;
          background: linear-gradient(to right, #FF5A36 var(--shorts-volume), #FFF 0);
          
        }
        &::-webkit-slider-thumb {
          @apply invisible;
        }
  
        /* firefox */
        &::-moz-range-track {
          @apply h-full rounded-lg;
          background: linear-gradient(to right, #FF5A36 var(--shorts-volume), #FFF 0);
        }
        &::-moz-range-thumb {
          @apply invisible;
        }
      }
    }
  }

  .app-layout {
    @apply flex min-h-screen w-screen flex-col items-center overflow-x-hidden bg-white;
    @apply has-[#mobile-menu-toggle:checked]:h-screen has-[#mobile-menu-toggle:checked]:overflow-hidden has-[#mobile-menu-toggle:checked]:lg:h-auto has-[#mobile-menu-toggle:checked]:lg:overflow-auto;
    @apply has-[#upload-modal-toggle:checked]:h-screen has-[#upload-modal-toggle:checked]:overflow-hidden;
  }

  .custom-checkbox {
    &[type=checkbox] {
      @apply size-4 appearance-none bg-[#F6F6FB] shadow-input border-[0.5px] border-solid border-[#B2B5BE] rounded-sm outline-0  cursor-pointer;

      &:checked {
        @apply bg-[#119CC7];
      }
    }
  }

  .main-in-error-page {
    @apply mb-[72px] mt-5 flex w-full flex-col items-center px-5 md:mt-9 md:px-0 md:pt-0 lg:mt-4;
  }
}

@layer utilities {

}
