@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shorts-header-height: 80px;
  --shorts-body-padding: 0px;
  --shorts-item-gap: 0px;
  --shorts-next-item-preview-height: 0px;

  /* @see https://github.com/tailwindlabs/tailwindcss/discussions/10779#discussioncomment-5288493 */
  @media screen(md) {
    --shorts-header-height: 96px;
    --shorts-body-padding: 16px;
    --shorts-item-gap: 60px;
    --shorts-next-item-preview-height: 20px;
  }

  @media screen(lg) {
    --shorts-header-height: 106px;
  }
}

@media (prefers-color-scheme: dark) {
}

.grecaptcha-badge {
  visibility: hidden;
}

@layer components {
  .section-in-homepage {
    @apply w-full max-w-[375px] px-[23px] md:max-w-screen-md md:px-5 lg:max-w-none lg:px-9;
  }
  .homepage-editor-choice-bullet {
    @apply h-5 w-5 cursor-pointer rounded-full border-[1px] border-[#000928] text-center text-sm font-medium leading-[18px] text-[#000928];
    @apply md:h-3 md:w-3 md:border-[0.5px] md:border-white md:text-[8px] md:leading-[10px] md:text-white;
    @apply lg:h-5 lg:w-5 lg:border-[1px] lg:text-sm lg:leading-[18px];
  }
  .homepage-editor-choice-bullet-active {
    @apply homepage-editor-choice-bullet border-white bg-mirror-blue-600 text-white md:bg-mirror-blue-800;
  }
  .homepage-editor-choice-pagination-horizontal {
    @apply z-over-editor-choice mt-8 flex w-full justify-center space-x-[6px];
    @apply md:absolute md:!bottom-3 md:!right-4 md:!w-auto md:justify-end md:space-x-1 lg:!bottom-[26px] lg:!right-3;
    @apply lg:space-x-[6px];
  }

  /* editor choice swiper button */
  .swiper {
    .custom-swiper-navigation-next,
    .custom-swiper-navigation-prev {
      @apply absolute top-1/2 z-10 hidden size-10 -translate-y-1/2 items-center justify-center lg:flex;
    }

    .custom-swiper-navigation-next {
      @apply right-3 lg:right-6;
    }

    .custom-swiper-navigation-prev {
      @apply left-3 lg:left-6;
    }

    .custom-swiper-navigation-prev.first {
      @apply invisible;
    }
    .custom-swiper-navigation-next.last {
      @apply invisible;
    }
  }
  .header-submit-button {
    @apply mt-8 hidden h-6 w-20 items-center justify-center rounded-[29px] bg-[#ff5457] text-[15px] font-normal leading-none text-white first:ml-0 lg:flex;
  }

  .mobile-toggle-and-nav-submit-button {
    @apply inline-block self-start rounded-xl bg-[#FF5457] px-4 py-1 text-base font-bold text-white;
  }

  .tablet-live-video {
    @apply max-w-[504px] lg:max-w-[600px];
  }

  .shorts-swiper-in-homepage .swiper-slide {
    @apply w-[225px];
  }
  .shorts-swiper-button {
    @apply absolute top-[calc(480px/2)] z-over-shorts hidden -translate-y-1/2 lg:top-[calc(566px/2)] lg:inline-block;
  }

  .shorts-swiper-in-shorts-page {
    @apply h-full w-full;

    .swiper-wrapper {
      @apply h-auto;
    }

    .shorts-container {
      @apply relative mx-auto;
      @apply h-[calc(100vh-var(--shorts-header-height)-var(--shorts-body-padding)-var(--shorts-item-gap)-var(--shorts-next-item-preview-height))];
      @apply h-[calc(100dvh-var(--shorts-header-height)-var(--shorts-body-padding)-var(--shorts-item-gap)-var(--shorts-next-item-preview-height))];
      @apply max-h-full;
      @apply w-[calc((100vh-var(--shorts-header-height)-var(--shorts-body-padding)-var(--shorts-item-gap)-var(--shorts-next-item-preview-height))*9/16)];
      @apply w-[calc((100dvh-var(--shorts-header-height)-var(--shorts-body-padding)-var(--shorts-item-gap)-var(--shorts-next-item-preview-height))*9/16)];
      @apply md:ml-0 md:max-w-full;

      & > div {
        @apply overflow-hidden md:rounded-[7px];
      }

      button.control {
        @apply flex size-[25px] items-center justify-center rounded-xl bg-white shadow-[0px_5.365px_5.365px_0px_rgba(0,0,0,0.15)] hover-or-active:bg-[#E5E6E9];
      }

      input.volume-slider {
        @apply h-2 w-[120px] cursor-pointer appearance-none rounded-lg;

        /* webkit */
        &::-webkit-slider-runnable-track {
          @apply h-full rounded-lg;
          background: linear-gradient(
            to right,
            #ff5a36 var(--shorts-volume),
            #fff 0
          );
        }
        &::-webkit-slider-thumb {
          @apply invisible;
        }

        /* firefox */
        &::-moz-range-track {
          @apply h-full rounded-lg;
          background: linear-gradient(
            to right,
            #ff5a36 var(--shorts-volume),
            #fff 0
          );
        }
        &::-moz-range-thumb {
          @apply invisible;
        }
      }
    }
  }

  .app-layout {
    @apply flex min-h-screen w-screen flex-col items-center overflow-x-hidden bg-white;
    @apply has-[#mobile-menu-toggle:checked]:h-screen has-[#mobile-menu-toggle:checked]:overflow-hidden has-[#mobile-menu-toggle:checked]:lg:h-auto has-[#mobile-menu-toggle:checked]:lg:overflow-auto;
    @apply has-[#upload-modal-toggle:checked]:h-screen has-[#upload-modal-toggle:checked]:overflow-hidden;
    @apply has-[#adult-warning-modal]:h-screen has-[#adult-warning-modal]:overflow-hidden;
  }

  .custom-checkbox {
    &[type='checkbox'] {
      @apply size-4 cursor-pointer appearance-none rounded-sm border-[0.5px] border-solid border-[#B2B5BE] bg-[#F6F6FB] shadow-input outline-0;

      &:checked {
        @apply bg-[#119CC7];
      }
    }
  }

  .main-in-error-page {
    @apply mb-[72px] mt-5 flex w-full flex-col items-center px-5 md:mt-9 md:px-0 md:pt-0 lg:mt-4;
  }
}

@layer utilities {
}
